body { 
 Text-align: Center;  
  background-color: black;
  
}

h1 {
    font-family: 'Fredoka One', cursive;
     color: white;
     
}

.title {
 color: Gold;
  font-family: 'Anton', sans-serif;
    font-size: 50px;

}

.Movie {
    font-size: 20px;
        color: blue;
}

img {
    
    border: solid 8px white;
    background-color: black;
}

.Band {
     
    font-size: 20px;
        color: blue;
}   
    
.Actor {
     
    font-size: 20px;
        color: blue;
}   

.Artist {
     
    font-size: 20px;
        color: blue;
}   

